.article-section{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}
.article-header{
    font-size: 35px;
    color: white;
    font-weight:400;

}
.article-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:flex-start;
    color: white;
    width: 350px;
    margin: 10px;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 10px;
}
.article-card:hover{
    box-shadow: 0 0 12px rgba(102, 204, 255, 0.8), /* Stronger outer glow */
    0 0 12px rgba(102, 204, 255, 0.6); 
}
.article-heading{
    font-size: 18px;
    margin-bottom: 5px;
}
.article-description{
    /* text-align: center; */
    font-size: 13px;
}
.article-link{
    color: white;
    text-decoration: none;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
   
}
.article-link:active, .article-link:visited{
    color:white
}