.header{
    background-color: #1a1a1a; /* Dark background */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: sticky;
}

.header-left{
    width: 200px;
    color: white;
    padding: 10px;
}
.header-left h2{
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.header-link{
    color:white;
    text-decoration: none;
}
.header-link:visited, .header-link:hover, .header-link:focus, .header-link:active{
    color:white;
    text-decoration: none;
}
.header-right{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon  {
    color: white;
    width: 55px;
    height: 35px;
    cursor: pointer;
    transition: color 0.3s ease 
}
.icon a{
    gap:10px;
    color: white;
}

/* Glow Effect on Hover */
.icon a:hover {
    color: #66ccff; /* Change color on hover if desired */
           
}
.icon :hover{
    color: #66ccff;
}

.icon a:visited, .icon a:hover, .icon a:focus, .icon a:active{
    color:white;
    text-decoration: none;
}